
// RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: black;
}
button {
    border: none;
}

//  RESET END

@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Merriweather:wght@300&family=Roboto+Slab:wght@200&display=swap');

$color1 : #2f3a47;
$color2 : #29b1a8;
$color3 : #F7FFF7;
$color4 : #FF6B6B;
$color5 : #FFE66D;

@mixin button ($background, $padding) {
    background-color: $background;
    padding: $padding;
    color: $color3;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    
    &:hover {
        box-shadow: none;
        color: lightblue;
    }
}
@mixin article_base {
    padding: 3vh 7vw;
    line-height: 1.5em;
    h2 {
        font-family: 'Merriweather', serif;
        text-decoration: underline;
        font-size: 1.3em;
        margin-bottom: 2vh;
    }
    h3 {
        font-family: 'Merriweather', serif;
        text-decoration: underline;
        margin-bottom: 1.5vh;
    }
    section {
        margin-top: 1vh;
    }
}
body {
    font-family: 'David Libre', serif;
    width: 100vw;
    height: 70vh;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: -1px;
    align-items: center;
    height: 4vh;
    padding : 3vw 1vw;
    width: 100vw;
    background-color: $color2;
    color : $color1;
    
}
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.8em;
    margin: 0 2vw;
    margin-top: -0.6vh;
    color: $color1;
}
h1 span {
    color: $color3;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 2vw;
}
nav ul li a {
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
    margin: 0 2vw;
    color : $color3;
}
nav ul li a:hover {
    color : lighten($color5, $amount : 16%);
}
nav ul li a:active {
    color : lighten($color5, $amount : 16%);
}

.welcome_page {
    height: 30vh;
    background-color: $color3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.welcome_page h2 {
    font-family: 'Merriweather', serif;
    margin-bottom: 2vh;
    font-size: 3em;
    border-bottom: 1px solid transparent;
    padding: 12px 48px;
    color: lighten($color1, $amount : 60%);
    background: linear-gradient(to right, $color5 40%, white 20%, lighten($color5, $amount:26%) 40%);
    background-position: 0;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    text-decoration: none;
    border-radius: 100px;
}
@keyframes shine {
    0% {
        background-position: 0px;
    }
    60% {
        background-position: 220px;
    }
    100% {
        background-position: 0px;
    }
}
.welcome_page h2 span {
    color: lighten($color1, $amount : 20%);
    
}
.welcome_page button {
    @include button($color4, $padding: 1vh 5vw);
}
.welcome_page button:hover {
    font-size: 0.8em;
}
.logo img {
    width: 30vw;
    height: 30vh;
}

.asso_description {
    @include article_base();
    background-color: $color2;
    color: $color3;
}
.asso_description button {
    @include button($color5, $padding: 0.5vh 2vw);
    margin-left: 2vw;
    font-size: 0.6em;
    color: $color1;
}

.support {
    @include article_base();
    background-color: $color3;
}
.support a {
    font-weight: 600;
    color: lighten($color1, $amount : 25%);
} 
.support a:hover {
    color: darken($color5, $amount : 30%)
} 

.contact {
    @include article_base();
	background-color: $color2;
    color: $color3;
    display: flex;
    flex-direction: column;
    vertical-align: center;

}
#mail {
	display: flex;
	justify-content: center;
	color: rgb(0, 0, 0);
    font-size: 1.4em;
}
#logoMail {
	width: 50px;
	height: 50px;
	float : left;
	margin: 20px 50px 0 0px;
	background-color: #eee;
	border-radius: 50px;
	border: 5px solid $color1;
}
#logoMail:hover {
	float : left;
	border: 5px solid $color4;
}
#myMail {
	text-decoration: none;
	color: rgb(26, 25, 24);
	margin-top: 40px;
    font-weight: 600;
}
#myMail:hover {
	text-decoration: underline;
	color: $color5;
}
#iconPhone {
	display: flex;
	justify-content: center;
	color: rgb(0, 0, 0);
	font-size: 2em;
}
#logoPhone {
	width: 50px;
	height: 50px;
	float : left;
	margin: 20px 50px 0 0px;
	border-radius: 50px;
	border: 5px solid $color1;
    background-color: #eee;
}
#logoPhone:hover {
	float : left;
	background-color: #eee;
	border: 5px solid $color4;
}
#myPhone {
	text-decoration: none;
	color: rgb(26, 25, 24);
	margin : 40px 0;
}
#myPhone:hover {
	text-decoration: underline;
	color: $color5;
}


footer {
    height: 10vh;
    background-color: $color1;
    color: $color5;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(min-width : 500px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        padding : 4vh 15vw;
        background-color: $color2;
        color : $color3;
    }
}