@import url("https://fonts.googleapis.com/css2?family=David+Libre&family=Merriweather:wght@300&family=Roboto+Slab:wght@200&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
}

body {
  font-family: 'David Libre', serif;
  width: 100vw;
  height: 70vh;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4vh;
  padding: 3vw 1vw;
  width: 100vw;
  background-color: #29b1a8;
  color: #2f3a47;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8em;
  margin: 0 2vw;
  margin-top: -0.6vh;
  color: #2f3a47;
}

h1 span {
  color: #F7FFF7;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 2vw;
}

nav ul li a {
  font-family: 'Merriweather', serif;
  font-size: 0.8em;
  margin: 0 2vw;
  color: #F7FFF7;
}

nav ul li a:hover {
  color: #fff4bf;
}

nav ul li a:active {
  color: #fff4bf;
}

.welcome_page {
  height: 30vh;
  background-color: #F7FFF7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.welcome_page h2 {
  font-family: 'Merriweather', serif;
  margin-bottom: 2vh;
  font-size: 3em;
  border-bottom: 1px solid transparent;
  padding: 12px 48px;
  color: #cbd3dd;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #FFE66D), color-stop(20%, white), color-stop(40%, #fffdf2));
  background: linear-gradient(to right, #FFE66D 40%, white 20%, #fffdf2 40%);
  background-position: 0;
  -webkit-animation: shine 3s infinite linear;
          animation: shine 3s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-decoration: none;
  border-radius: 100px;
}

@-webkit-keyframes shine {
  0% {
    background-position: 0px;
  }
  60% {
    background-position: 220px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes shine {
  0% {
    background-position: 0px;
  }
  60% {
    background-position: 220px;
  }
  100% {
    background-position: 0px;
  }
}

.welcome_page h2 span {
  color: #586c84;
}

.welcome_page button {
  background-color: #FF6B6B;
  padding: 1vh 5vw;
  color: #F7FFF7;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.welcome_page button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: lightblue;
}

.welcome_page button:hover {
  font-size: 0.8em;
}

.logo img {
  width: 30vw;
  height: 30vh;
}

.asso_description {
  padding: 3vh 7vw;
  line-height: 1.5em;
  background-color: #29b1a8;
  color: #F7FFF7;
}

.asso_description h2 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  font-size: 1.3em;
  margin-bottom: 2vh;
}

.asso_description h3 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  margin-bottom: 1.5vh;
}

.asso_description section {
  margin-top: 1vh;
}

.asso_description button {
  background-color: #FFE66D;
  padding: 0.5vh 2vw;
  color: #F7FFF7;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  margin-left: 2vw;
  font-size: 0.6em;
  color: #2f3a47;
}

.asso_description button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: lightblue;
}

.support {
  padding: 3vh 7vw;
  line-height: 1.5em;
  background-color: #F7FFF7;
}

.support h2 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  font-size: 1.3em;
  margin-bottom: 2vh;
}

.support h3 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  margin-bottom: 1.5vh;
}

.support section {
  margin-top: 1vh;
}

.support a {
  font-weight: 600;
  color: #627994;
}

.support a:hover {
  color: #d3af00;
}

.contact {
  padding: 3vh 7vw;
  line-height: 1.5em;
  background-color: #29b1a8;
  color: #F7FFF7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: center;
}

.contact h2 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  font-size: 1.3em;
  margin-bottom: 2vh;
}

.contact h3 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  margin-bottom: 1.5vh;
}

.contact section {
  margin-top: 1vh;
}

#mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-size: 1.4em;
}

#logoMail {
  width: 50px;
  height: 50px;
  float: left;
  margin: 20px 50px 0 0px;
  background-color: #eee;
  border-radius: 50px;
  border: 5px solid #2f3a47;
}

#logoMail:hover {
  float: left;
  border: 5px solid #FF6B6B;
}

#myMail {
  text-decoration: none;
  color: #1a1918;
  margin-top: 40px;
  font-weight: 600;
}

#myMail:hover {
  text-decoration: underline;
  color: #FFE66D;
}

#iconPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-size: 2em;
}

#logoPhone {
  width: 50px;
  height: 50px;
  float: left;
  margin: 20px 50px 0 0px;
  border-radius: 50px;
  border: 5px solid #2f3a47;
  background-color: #eee;
}

#logoPhone:hover {
  float: left;
  background-color: #eee;
  border: 5px solid #FF6B6B;
}

#myPhone {
  text-decoration: none;
  color: #1a1918;
  margin: 40px 0;
}

#myPhone:hover {
  text-decoration: underline;
  color: #FFE66D;
}

footer {
  height: 10vh;
  background-color: #2f3a47;
  color: #FFE66D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
    padding: 4vh 15vw;
    background-color: #29b1a8;
    color: #F7FFF7;
  }
}
/*# sourceMappingURL=style.css.map */