// RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: black;
}
button {
    border: none;
}

//  RESET END


$color1 : #2f3a47;
$color2 : #29b1a8;
$color3 : #F7FFF7;
$color4 : #FF6B6B;
$color5 : #FFE66D;

@mixin button ($background, $padding) {
    background-color: $background;
    padding: $padding;
    color: $color3;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;

    &:hover {
        box-shadow: none;
        color: lightblue;
    }
}
@mixin article_base {
    padding: 2vh 5vw;
    line-height: 1.5em;
    h2 {
        text-decoration: underline;
        font-size: 1.3em;
        margin-bottom: 1vh;
    }
    h3 {
        text-decoration: underline;
    }
    section {
        margin-top: 1vh;
    }
}
body {
    width: 100vw;
    height: 70vh;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    padding : 3vw 1vw;
    width: 100vw;
    background-color: $color2;
    color : $color1;
}
h1 {
    font-size: 1.5em;
    margin: 0 2vw;
    color: $color1;
}
h1 span {
    color: $color3;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 2vw;
}
nav ul li a {
    margin: 0 2vw;
    color : $color3;
}
nav ul li a:hover {
    color : lighten($color5, $amount : 16%);
}

.welcome_page {
    height: 30vh;
    background-color: $color3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.welcome_page h2 {
    margin-bottom: 2vh;

}
.welcome_page button {
    @include button($color4, $padding: 1vh 5vw);
}
.welcome_page button:hover {
    font-size: 0.8em;
}

.asso_description {
    @include article_base();
    background-color: $color2;
    color: $color3;
}
.asso_description button {
    @include button($color5, $padding: 0.5vh 2vw);
    font-size: 0.6em;
    color: $color1;
}

.support {
    @include article_base();
    background-color: $color3;
}

footer {
    height: 10vh;
    background-color: $color1;
    color: $color5;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(min-width : 500px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        padding : 4vh 15vw;
        background-color: $color2;
        color : $color3;
    }
}