@import url("https://fonts.googleapis.com/css2?family=David+Libre&family=Merriweather:wght@300&family=Roboto+Slab:wght@200&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
}

body {
  font-family: 'David Libre', serif;
  width: 100vw;
  height: 70vh;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  padding: 1vh 1vw;
  width: 100vw;
  background-color: #29b1a8;
  color: #2f3a47;
  overflow: hidden;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6em;
  margin: 0 2vw;
  margin-top: -0.6vh;
  color: #2f3a47;
}

h1 span {
  color: #F7FFF7;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 2vw;
}

nav ul li a {
  font-family: 'Merriweather', serif;
  font-size: 0.8em;
  margin: 0 2vw;
  color: #F7FFF7;
}

nav ul li a:visited {
  color: #fff4bf;
}

.welcome_page {
  height: 30vh;
  background-color: #F7FFF7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.welcome_page h2 {
  font-family: 'Merriweather', serif;
  margin-bottom: 2vh;
  font-size: 3em;
  border-bottom: 1px solid transparent;
  padding: 12px 48px;
  color: #cbd3dd;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #FFE66D), color-stop(20%, white), color-stop(40%, #fffdf2));
  background: linear-gradient(to right, #FFE66D 40%, white 20%, #fffdf2 40%);
  background-position: 0;
  -webkit-animation: shine 3s infinite linear;
          animation: shine 3s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-decoration: none;
  border-radius: 100px;
}

@-webkit-keyframes shine {
  0% {
    background-position: 0px;
  }
  60% {
    background-position: 220px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes shine {
  0% {
    background-position: 0px;
  }
  60% {
    background-position: 220px;
  }
  100% {
    background-position: 0px;
  }
}

.welcome_page h2 span {
  color: #586c84;
}

.welcome_page button {
  background-color: #FF6B6B;
  padding: 1vh 5vw;
  color: #F7FFF7;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.welcome_page button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: lightblue;
}

.asso_description {
  padding: 3vh 7vw;
  line-height: 1.5em;
  background-color: #29b1a8;
  color: #F7FFF7;
}

.asso_description h2 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  font-size: 1.4em;
  margin-bottom: 2vh;
}

.asso_description h3 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  margin-bottom: 1.5vh;
  margin-top: 2vh;
}

.asso_description button {
  background-color: #FFE66D;
  padding: 0.5vh 2vw;
  color: #F7FFF7;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  margin-left: 2vw;
  font-size: 0.6em;
  color: #2f3a47;
}

.asso_description button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: lightblue;
}

.photo {
  width: 200px;
  height: 100px;
  border: 3px solid lightgray;
  border-radius: 10px;
  float: right;
  margin: 2vh 0 0 1vh;
}

.photo_bordu {
  width: 160px;
  height: 120px;
  border: 3px solid lightgray;
  border-radius: 10px;
  float: right;
  margin: 2vh 0 0 1vh;
}

.photo_duo {
  width: 120px;
  height: 180px;
  border: 3px solid lightgray;
  border-radius: 10px;
  float: right;
  margin: 2vh 0 0 1vh;
}

.support {
  padding: 3vh 7vw;
  line-height: 1.5em;
  background-color: #F7FFF7;
}

.support h2 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  font-size: 1.4em;
  margin-bottom: 2vh;
}

.support h3 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  margin-bottom: 1.5vh;
  margin-top: 2vh;
}

.support a {
  font-weight: 600;
  color: #627994;
}

#contact {
  padding: 3vh 7vw;
  line-height: 1.5em;
  background-color: #29b1a8;
  color: #F7FFF7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: center;
}

#contact h2 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  font-size: 1.4em;
  margin-bottom: 2vh;
}

#contact h3 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  margin-bottom: 1.5vh;
  margin-top: 2vh;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 20px 20px 0 0px;
  padding: 5px;
  background-color: #eee;
  border-radius: 100px;
  border: 5px solid #2f3a47;
}

#mail {
  text-decoration: none;
  color: #1a1918;
  margin-top: 5vh;
  font-weight: 600;
  font-size: 0.7em;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-size: 2em;
}

.social_logo {
  margin: 3vh 0 3vh 10vw;
}

#phone {
  text-decoration: none;
  color: #1a1918;
  margin: 5vh 0;
}

.upcomming_event {
  padding: 3vh 7vw;
  line-height: 1.5em;
  background-color: #F7FFF7;
}

.upcomming_event h2 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  font-size: 1.4em;
  margin-bottom: 2vh;
}

.upcomming_event h3 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  margin-bottom: 1.5vh;
  margin-top: 2vh;
}

.passed_event {
  padding: 3vh 7vw;
  line-height: 1.5em;
  background-color: #29b1a8;
  color: #F7FFF7;
}

.passed_event h2 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  font-size: 1.4em;
  margin-bottom: 2vh;
}

.passed_event h3 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  margin-bottom: 1.5vh;
  margin-top: 2vh;
}

.stage_event {
  padding: 3vh 7vw;
  line-height: 1.5em;
  background-color: #F7FFF7;
}

.stage_event h2 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  font-size: 1.4em;
  margin-bottom: 2vh;
}

.stage_event h3 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  margin-bottom: 1.5vh;
  margin-top: 2vh;
}

footer {
  height: 10vh;
  background-color: #2f3a47;
  color: #FFE66D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 415px) {
  h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 900px) {
  header {
    padding: 4vh 1vw;
    width: 100vw;
    background-color: #29b1a8;
    color: #2f3a47;
  }
  h1 {
    font-size: 4em;
  }
  nav ul li a {
    font-size: 1.5em;
  }
  nav ul li a:hover {
    color: #fff0a5;
  }
  .welcome_page {
    height: 85vh;
  }
  .welcome_page h2 {
    margin-bottom: 10vh;
    font-size: 10em;
  }
  @-webkit-keyframes shine {
    60% {
      background-position: 3.8em;
    }
  }
  @keyframes shine {
    60% {
      background-position: 3.8em;
    }
  }
  .welcome_page button {
    background-color: #FF6B6B;
    padding: 2vh 5vw;
    color: #F7FFF7;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px black;
            box-shadow: 2px 2px 5px black;
    font-size: 3em;
  }
  .welcome_page button:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    color: lightblue;
  }
  .welcome_page button:hover {
    font-size: 2.8em;
    border-top: 0.1em solid transparent;
  }
  .asso_description {
    padding: 10vh 25vw;
    line-height: 1.5em;
  }
  .asso_description h2 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    font-size: 2.5em;
    margin-bottom: 8vh;
  }
  .asso_description h3 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    margin-bottom: 4vh;
    margin-top: 5vh;
    font-size: 1.5em;
  }
  .asso_description p {
    font-size: 1.3em;
  }
  .asso_description h2 {
    white-space: nowrap;
  }
  .asso_description button {
    font-size: 1.3em;
    margin-top: 1vh;
  }
  .support {
    padding: 10vh 25vw;
    line-height: 1.5em;
    font-size: 1.3em;
  }
  .support h2 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    font-size: 2.5em;
    margin-bottom: 8vh;
  }
  .support h3 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    margin-bottom: 4vh;
    margin-top: 5vh;
    font-size: 1.5em;
  }
  .support p {
    font-size: 1.3em;
  }
  .support a:hover {
    color: #d3af00;
  }
  #contact {
    padding: 10vh 25vw;
    line-height: 1.5em;
    text-align: center;
  }
  #contact h2 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    font-size: 2.5em;
    margin-bottom: 8vh;
  }
  #contact h3 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    margin-bottom: 4vh;
    margin-top: 5vh;
    font-size: 1.5em;
  }
  #contact p {
    font-size: 1.3em;
  }
  #contact h2 {
    font-size: 3.5em;
  }
  .logo {
    width: 90px;
    height: 90px;
    margin: 5vh 3vw 0 0px;
  }
  .social_logo {
    margin: 3vh 0 3vh 5vw;
  }
  .logo:hover {
    border: 5px solid #FF6B6B;
  }
  #mail {
    margin-top: 10vh;
    font-size: 1.1em;
  }
  #mail:hover {
    text-decoration: underline;
    color: #FFE66D;
  }
  .mail_and_phone {
    font-size: 3em;
  }
  #phone {
    margin: 10vh 0;
    font-size: 1.3em;
  }
  #phone:hover {
    text-decoration: underline;
    color: #FFE66D;
  }
  .upcomming_event {
    padding: 10vh 25vw;
    line-height: 1.5em;
  }
  .upcomming_event h2 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    font-size: 2.5em;
    margin-bottom: 8vh;
  }
  .upcomming_event h3 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    margin-bottom: 4vh;
    margin-top: 5vh;
    font-size: 1.5em;
  }
  .upcomming_event p {
    font-size: 1.3em;
  }
  .passed_event {
    padding: 10vh 25vw;
    line-height: 1.5em;
  }
  .passed_event h2 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    font-size: 2.5em;
    margin-bottom: 8vh;
  }
  .passed_event h3 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    margin-bottom: 4vh;
    margin-top: 5vh;
    font-size: 1.5em;
  }
  .passed_event p {
    font-size: 1.3em;
  }
  .photo {
    width: 400px;
    height: 200px;
    border: 3px solid lightgray;
    border-radius: 10px;
    float: right;
    margin: 2vh 0 0 1vh;
    margin-left: 3vh;
  }
  .photo_bordu {
    width: 230px;
    height: 170px;
    border: 3px solid lightgray;
    border-radius: 10px;
    float: right;
    margin: 2vh 0 0 1vh;
    margin-left: 3vw;
    margin-top: -1vh;
  }
  .photo_duo {
    width: 140px;
    height: 200px;
    border: 3px solid lightgray;
    border-radius: 10px;
    float: right;
    margin: 2vh 0 0 1vh;
    float: left;
    margin: 4vh 3vw 1vh 0;
  }
  .stage_event {
    padding: 10vh 25vw;
    line-height: 1.5em;
  }
  .stage_event h2 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    font-size: 2.5em;
    margin-bottom: 8vh;
  }
  .stage_event h3 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    margin-bottom: 4vh;
    margin-top: 5vh;
    font-size: 1.5em;
  }
  .stage_event p {
    font-size: 1.3em;
  }
  footer {
    font-size: 1.4em;
  }
}
/*# sourceMappingURL=style.css.map */